.footer {
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    right: 0;
    position: fixed;

    .btn {
        border-radius: 24px;
        display: block;
        font-size: 18px;
        height: 48px;
        line-height: 48px;
        width: 100%;
    }
}
