.form {
    padding-left: 15px;
    padding-right: 15px;

    & > .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    & > input[type="submit"] {
        border-radius: 2px;
        font-size: 18px;
        line-height: 48px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
    }
}
