.iconfont-record-menses {
    color: #f63;
}

.iconfont-record-menses:before {
    border-color: #f63;
}

.iconfont-record-menses.active {
    color: #fff;
}

.iconfont-record-menses.active:before {
    background-color: #f63;
}

.iconfont-record-temperature {
    color: #46c6fe;
}

.iconfont-record-temperature:before {
    border-color: #46c6fe;
}

.iconfont-record-temperature.active {
    color: #fff;
}

.iconfont-record-temperature.active:before {
    background-color: #46c6fe;
}

.iconfont-record-sex {
    color: #f36;
}

.iconfont-record-sex:before {
    border-color: #f36;
}

.iconfont-record-sex.active {
    color: #fff;
}

.iconfont-record-sex.active:before {
    background-color: #f36;
}

.iconfont-record-ovulatory {
    color: #c1d347;
}

.iconfont-record-ovulatory:before {
    border-color: #c1d347;
}

.iconfont-record-ovulatory.active {
    color: #fff;
}

.iconfont-record-ovulatory.active:before {
    background-color: #c1d347;
}

.iconfont-record-bultrasonicinspection {
    color: #4ca1fa;
}

.iconfont-record-bultrasonicinspection:before {
    border-color: #4ca1fa;
}

.iconfont-record-bultrasonicinspection.active {
    color: #fff;
}

.iconfont-record-bultrasonicinspection.active:before {
    background-color: #4ca1fa;
}

.iconfont-record-leukorrhea {
    color: #f9c;
}

.iconfont-record-leukorrhea:before {
    border-color: #f9c;
}

.iconfont-record-leukorrhea.active {
    color: #fff;
}

.iconfont-record-leukorrhea.active:before {
    background-color: #f9c;
}

.iconfont-record-daily {
    color: #44f1aa;
}

.iconfont-record-daily:before {
    border-color: #44f1aa;
}

.iconfont-record-daily.active {
    color: #fff;
}

.iconfont-record-daily.active:before {
    background-color: #44f1aa;
}

.iconfont-record-doctoradvice {
    color: #db5688;
}

.iconfont-record-doctoradvice:before {
    border-color: #db5688;
}

.iconfont-record-doctoradvice.active {
    color: #fff;
}

.iconfont-record-doctoradvice.active:before {
    background-color: #db5688;
}

.iconfont-record-memorabilia {
    color: #f90;
}

.iconfont-record-memorabilia:before {
    border-color: #f90;
}

.iconfont-record-memorabilia.active {
    color: #fff;
}

.iconfont-record-memorabilia.active:before {
    background-color: #f90;
}
