.img-zoomable-backdrop {
    background-color: #d7d7d7;
    bottom: 0;
    display: none;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;

    div {
        height: 100%;
        width: 100%;
    }

    img {
        position: absolute;
    }
}
